.header {
  background-color: #92D050;
  padding: 5px;
  text-align: center;
}

.song {
  overflow-wrap: break-word;
  padding: 5px;
  text-align: center;
}

.done {
  background-color: #FF8C00;
}

.underlined {
  text-decoration: underline;
}

.text {
  cursor: default;
}

.topText {
  padding-bottom: 10px;
}
